{% extends 'base.html' %}

{% load add_class %}

{% block content %}
	<div class="row mt-3 d-flex justify-content-center">
		<div class="col-xs-12 col-md-8 col-lg-4">
			<p class="auth-title">Login</p>
			<form method="POST">
				{% csrf_token %}
				{% for field in form %}
					<div class="mb-3">
						<div class="form-label auth-form-label" for="{{ field.id_for_label }}">
							{{ field.label }}
						</div>
						{{ field|add_class:"form-control" }}
						<div class="text-mutted">{{ field.errors }}</div>
					</div>
				{% endfor %}
				<input class="btn btn-primary auth-form-submit" type="submit" value="Login"/>
			</form>
		</div>
	</div>
{% endblock %}