body{
	background-color: #f4f6ff;
}

.app-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	background-color: #3282b8;
}

.app-label{
	font-family: 'Dancing Script', cursive;
	font-size: 24pt;
	color: white;
	rotate: -10deg;
}

.btn-primary{
	background-color: #3282b8;
	border-color: #3282b8;
}

.app-header-item{
	margin-left: 0.6rem;
}